

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 2px solid black;
  border-left: none;
  border-right: none;
}

.headingData {
  color: red;
  font-size: 30px;
  margin: 0;
}

.search-container {
  display: flex;
  align-items: center;
}

.search {
  margin: 10px;
  border: none; 
}

.search-icon {
  font-size: 20px;
  margin-right: 10px; 
  box-shadow: none;
}
